# This configuration file follows the YAML format (www.yaml.org)
# Please note that the indentation used is 4 spaces.

# input
# these are for the toy datasets supplied with quest
#x_train: ./data/features/wmt2012_qe_baseline/training.qe.baseline.tsv
#y_train: ./data/features/wmt2012_qe_baseline/training.effort
#x_test: ./data/features/wmt2012_qe_baseline/test.qe.baseline.tsv
#y_test: ./data/features/wmt2012_qe_baseline/test.effort

# with added similarity feature (and proper idf weighting)
# Chris: intended to be used in concert with the python ems framework
#x_train: ./data/features/ems_output/training-features.out
#y_train: ./data/features/wmt2014_qe_experiments/train.effort
#x_test:  ./data/features/ems_output/test-features.out
#y_test:  ./data/features/wmt2014_qe_experiments/test.effort

# just the similarity feature (one feature)
#x_train: ./data/features/en-es.sim_scores.train
#x_train: ./data/features/wmt2014_qe_experiments/one_feature.train
#y_train: ./data/features/wmt2014_qe_experiments/train.effort
#x_test: ./data/features/wmt2014_qe_experiments/one_feature.test
#y_test:  ./data/features/wmt2014_qe_experiments/test.effort

# The test data provided by WMT14 organizers
#x_train: /home/chris/projects/random_indexing/python/wmt2014/quality_estimation/data/perceived_PE_effort/task1-1_en-es_training/en-es_features.2999.out
#y_train: /home/chris/projects/random_indexing/python/wmt2014/quality_estimation/data/perceived_PE_effort/task1-1_en-es_training/en-es_score.2999.out
#x_test: /home/chris/projects/random_indexing/python/wmt2014/quality_estimation/data/perceived_PE_effort/task1-1_en-es_training/en-es_features.817.out
#y_test: /home/chris/projects/random_indexing/python/wmt2014/quality_estimation/data/perceived_PE_effort/task1-1_en-es_training/en-es_score.817.out

x_train: /home/chris/projects/quest-new/output/wmt2014/no_zeros.2999.out
y_train: /home/chris/projects/random_indexing/python/wmt2014/quality_estimation/data/perceived_PE_effort/task1-1_en-es_training/en-es_score.2999.out
x_test: /home/chris/projects/quest-new/output/wmt2014/no_zeros.817.out
y_test: /home/chris/projects/random_indexing/python/wmt2014/quality_estimation/data/perceived_PE_effort/task1-1_en-es_training/en-es_score.817.out


# Chris: new config params
dump_scores:


# original quest configs

scale: true
separator: "\t"

# Chris: working - understand the feature selection here
# what works, what doesn't
#feature_selection:
#    method: RandomizedLasso
#    parameters:
#        cv: 10
#        sample_fraction: 0.75

# learning                                              
learning:
    method: SVR
    optimize:
        #kernel: [linear, rbf, poly]
        kernel: [rbf]
        # begin, end, number of samples to generate
        C: [1, 10, 2]
        gamma: [0.0001, 0.01, 2]
        epsilon: [0.1, 0.2, 2]
        cv: 3
        n_jobs: 1
        verbose: True

    scorer: [mae, rmse]

    parameters:
        C: 10
        gamma: 0.0034
        epsilon: 0.18
